/* ==========================================
   PokemonLight.css — 明亮清新
   ========================================== */

.root {
    -my-primary-color: #c8c8c8;
    -my-secondary-color: #a1a1a1;
    -my-background-color: #878787;

    -my-shadow-color: #767676;
    -my-shadow-hover-color: #2e2e2e;

    -my-btn-primary-color: #555555;
    -my-btn-secondary-color: #707070;

    -my-text-color: #000000;
    -my-text-soft-color: #333333;
    -my-label-text-color: #3e3e3e;

    -my-border-color: #333333;
    -my-tab-border-color: #353535;
    -my-line-color: #1d1d1d50;

    -my-pokemon-card: #e3e1e1;
    -my-pokemon-card-lock: #a6a6a6;
    -my-pokemon-card-hover: #d6d4d4;

    -my-progress-track: #000000;
    -my-progress-bar: #ffcb05;
    -my-lock-color: #850000;
    -my-stage-color: #b4b4b450;
    -my-stage-hover-color: #b4b4b499;

    -fx-font-family: 'Chiron GoRound TC';
    -fx-font-weight: 700;
    -fx-background-color: -my-primary-color;
}

.label {
    -fx-text-fill: -my-text-soft-color;
}
.label.changeColor {
    -fx-text-fill: #000000;
}
