/* ==========================================
   PokemonPurple.css — 大師球
   ========================================== */

.root {
    -my-primary-color: #24232f;
    -my-secondary-color: #57328f;
    -my-background-color: #341c53;

    -my-shadow-color: #792140;
    -my-shadow-hover-color: #f74382;

    -my-btn-primary-color: #ac2f5b;
    -my-btn-secondary-color: #d83c73;

    -my-text-color: #ffffff;
    -my-text-soft-color: #cacaca;
    -my-label-text-color: #d8bdff;

    -my-border-color: #f74382;
    -my-tab-border-color: #f74382;
    -my-line-color: #a081cfa0;

    -my-pokemon-card: #57328f;
    -my-pokemon-card-lock: #453a55;
    -my-pokemon-card-hover: #f74382;

    -my-progress-track: #ffb1cd;
    -my-progress-bar: #f74382;
    -my-lock-color: #850000;
    -my-stage-color: #57328f50;
    -my-stage-hover-color: #57328f99;

    -fx-font-family: 'Chiron GoRound TC';
    -fx-font-weight: 700;
    -fx-background-color: -my-primary-color;
}

.label {
    -fx-text-fill: -my-text-soft-color;
}
.label.changeColor {
    -fx-text-fill: #f74382;
}
