/* ==========================================
   PokemonDark.css — 暗黑電競
   ========================================== */

.root {
    -my-primary-color: #363636;
    -my-secondary-color: #222222;
    -my-background-color: #101010;

    -my-shadow-color: #3a3a3a;
    -my-shadow-hover-color: #ffffff;

    -my-btn-primary-color: #828282;
    -my-btn-secondary-color: #9a9a9a;

    -my-text-color: #ffffff;
    -my-text-soft-color: #d5d5d5;
    -my-label-text-color: #a0a0a0;

    -my-border-color: #c5c5c5;
    -my-tab-border-color: #cacaca;
    -my-line-color: #ffffff60;

    -my-pokemon-card: #222222;
    -my-pokemon-card-lock: #4a4a4a;
    -my-pokemon-card-hover: #484848;

    -my-progress-track: #ffffff;
    -my-progress-bar: #ffcb05;
    -my-lock-color: #850000;
    -my-stage-color: #22222250;
    -my-stage-hover-color: #22222299;

    -fx-font-family: 'Chiron GoRound TC';
    -fx-font-weight: 700;
    -fx-background-color: -my-primary-color;
}

.label {
    -fx-text-fill: -my-text-color;
}
.label.changeColor {
    -fx-text-fill: #ffffff;
}
